/*footer*/
.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1.4rem;
    padding: 30px 0;
}

.footer p{
    font-size: 0.9rem;
}

.footer-links{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.footer-links a{
    font-size: 1rem;
    font-weight: 400;
    color: var(--bg-color);
}

.footer-links a:hover{
    color: var(--main-color);
    transition: 0.3s all linear;
}
