footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  & .container {
    width: 100%;
    max-width: 1440px;
    padding: 25px 64px;
    @include sm {
      padding: 25px 24px;
    }
    & .wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      @include sm {
        flex-direction: column;
        gap: 8px;
      }
      & .legal {
        font-size: 16px;
        line-height: 32px;
        letter-spacing: -0.32px;
      }
      & .footerLinks {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
        & a {
          & .bx {
            color: #111827;
            font-size: 18px;
            padding: 8px;
            border-radius: 50%;
            background: $primary;
            transition: 0.3s all ease-in-out;
            &:hover {
              background: $secondary;
              color: $white;
              transition: 0.3s all ease-in-out;
            }
          }
        }
      }
    }
  }
}
