header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111827;
  &.scrolled {
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.12);
  }
  & .container {
    width: 100%;
    max-width: 1440px;
    padding: 16px 64px;
    @include sm {
      padding: 16px 24px;
    }
    & .wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      white-space: nowrap;
      & .logo {
        width: 150px;
        height: 40px;
        & a {
          & img {
            width: 100%;
            height: 100%;
          }
        }
      }
      & .links {
        display: flex;
        flex-direction: row;
        gap: 48px;
        @include md {
          flex-direction: column;
          position: absolute;
          background-color: #111827;
          width: 40%;
          height: 100vh;
          z-index: 5;
          right: -200px;
          top: 72px;
          align-items: center;
          transition: 0.3s all ease-in-out;
        }
        &.active {
          transition: 0.3s all ease-in-out;
          right: 0;
        }
        a {
          position: relative;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          transition: all 0.2s linear;
          &:hover {
            opacity: 0.5;
            transition: all 0.2s linear;
          }
          &:not(:nth-child(5))::after {
            content: "";
            background-image: url(/assets/img/Line.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 6px;
            height: 22px;
            position: absolute;
            right: -25px;
            @include md {
              display: none;
            }
          }
        }
        & .btn {
          display: none;
          @include sm {
            display: block;
          }
          & > a {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            &:hover {
              & .icon {
                transition: all 0.3s linear;
                background-color: $white;
              }
            }
            & .icon {
              width: 35px;
              height: 35px;
              border-radius: 100%;
              border: 1px solid #d1d5db;
              display: flex;
              justify-content: center;
              align-items: center;
              & img {
                width: 18px;
                height: 16px;
                object-fit: contain;
              }
            }
          }
        }
      }

      & .btn {
        @include sm {
          display: none;
        }
        & > a {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 8px;
          &:hover {
            & .icon {
              transition: all 0.3s linear;
              background-color: $white;
            }
          }
          & .icon {
            width: 48px;
            height: 48px;
            border-radius: 100%;
            border: 1px solid #d1d5db;
            display: flex;
            justify-content: center;
            align-items: center;
            & img {
              width: 20px;
              height: 18px;
              object-fit: contain;
            }
          }
        }
      }
      & .mobileMenu {
        display: none;
        @include md {
          display: block;
        }
        & a {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 15px;
          transition: 0.3s ease-out;
          &:hover {
            & > span {
              opacity: 0.8;
              transition: 0.3s ease-in;
            }
          }
          & .menuIcon {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 4.5px;
            cursor: pointer;
            z-index: 200;
            transition: 0.3s all ease-in-out;
            & div {
              background-color: $white;
              height: 2px;
              width: 24px;
              transition: 0.3s all ease-in-out;
              &:nth-child(1) {
                width: 15px;
              }
              &:nth-child(3) {
                width: 15px;
              }
            }
            &.move {
              row-gap: 5px;
              & div {
                &:nth-child(1) {
                  width: 24px;
                }
                &:nth-child(3) {
                  width: 24px;
                }
              }
              & .line1 {
                transform: rotate(-45deg) translate(-5px, 5px);
              }
              & .line2 {
                opacity: 0;
              }
              & .line3 {
                transform: rotate(45deg) translate(-5px, -5px);
              }
            }
          }
        }
      }
    }
  }
}
