section {
  &.hero {
    height: 88dvh;
    @include sm {
      height: 80dvh;
    }
    & .container {
      padding-top: 150px;
      @include sm {
        padding-top: 100px;
      }
      & .wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        & .bannerContent {
          width: 100%;
          max-width: 680px;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 28px;
          @include sm {
            gap: 20px;
          }
          & .heading {
            color: $primary;
            & h1 {
              font-size: 80px;
              @include sm {
                font-size: 40px;
              }
            }
          }
          & .tools {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            & .bx {
              color: $primary;
              border: solid 1px $primary;
              font-size: 28px;
              padding: 8px;
              border-radius: 50%;
              background: transparent;
              &:hover {
                color: var(--color);
                background: $black;
                border: solid 1px var(--color);
                transition: 0.3s all ease-in-out;
              }
            }
          }
        }
      }
    }
  }
}
