.home{
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
    margin-bottom: 40px;
    position: relative;
}

.home-content{
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: var(--container-color);
    overflow: hidden;
    margin-bottom: 2rem ;
    transition: 0.5s all linear;
}

.home-img img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: center;
    transition: 0.5s all linear;
}

.home-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-text h3{
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1.1rem;
    color: var(--main-color);
}

.home-text h3::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    left: -15px;
    width: 20px;
    height: 2px;
    background: var(--main-color);
}

.home-text h3::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    right: -35px;
    width: 20px;
    height: 2px;
    background: var(--main-color);
}

.home-text h2{
    font-size: 3.5rem;
    line-height: 4.8rem;
}
.home-text p{
    font-size: 0.938rem;
    margin-bottom: 1.5rem;
}

.home-text .color{
    color: var(--main-color);
}

.social{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.social .bx{
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 50%;
    color: var(--bg-color);
    background: var(--container-color);
}

.social .bx:hover{
    background: var(--main-color);
    transition: 0.3s all linear;
}

.typewriter-cursor {
    display: inline-block;
    vertical-align: middle;
    width: 3px;
    height: 1.2em;
    margin-left: 2px;
    background-color: var(--bg-color);
    animation: blink .7s infinite;
  }
  
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  #particles-js{
    position: fixed;
    width: 100vw;
  }