section {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  & .container {
    width: 100%;
    max-width: 1440px;
    padding: 50px 64px;
    @include sm {
      padding: 25px 24px;
    }
    & .wrapper {
      width: 100%;
    }
  }
}
