section {
  & .container {
    & .wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 32px;
      padding-top: 60px;
      & .workHeading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        @include md {
          flex-direction: column;
          align-items: center;
          text-align: center;
          gap: 24px;
        }
        & .content {
          width: 100%;
          max-width: 525px;
          display: flex;
          flex-direction: column;
          gap: 12px;
        }
        & .featured {
          display: flex;
          flex-direction: row;
          gap: 40px;
          align-items: center;
          @include sm {
            gap: 30px;
          }
          & a {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            &.active {
              & span {
                color: $yellow;
              }
            }
          }
        }
      }
      & .portfolioContainer {
        & .portfolioItem {
          display: block;
          height: 300px;
          border: 1px solid $primary;
          list-style: none;
          cursor: pointer;
          float: left;
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.8s background ease-in-out;
          @include md {
            width: 50% !important;
            height: 300px !important;
            text-align: center;
            @include sm {
              width: 100% !important;
            }
          }
          &:hover {
            background: var(--bg);
            transition: 0.8s background ease-in-out;
          }
          &.full {
            width: 100%;
          }
          &.two-third {
            width: 66.666%;
          }
          &.half {
            width: 50%;
          }
          &.third {
            width: 33.333%;
          }
          &.quarter {
            width: 25%;
          }
          &.double-height {
            height: 600px;
          }
          &.float-right {
            float: right;
          }
          & > .content {
            display: flex;
            flex-direction: column;
            gap: 8px;
            &.reverse {
              transform: rotate(-90deg);
              @include md {
                transform: unset;
              }
            }
            & span {
              color: $yellow;
              font-weight: 700;
              font-size: 15px;
            }
            & p {
              font-size: 15px;
            }
          }
        }
      }
      & .btnContainer {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

// .portfolioItem {
//   display: block;
//   height: 300px;
//   border: 2px solid #fff;
//   list-style: none;
//   background: #47a3da;
//   float: left;
//   box-sizing: border-box;
// }

// /* different sizes */
// .full {
//   width: 100%;
//   background: #d35400;
// }
// .two-third {
//   width: 66.666%;
//   background: #27ae60;
// }
// .half {
//   width: 50%;
//   background: #c0392b;
// }
// .third {
//   width: 33.333%;
//   background: #16a085;
// }
// .quarter {
//   width: 25%;
//   background: #34495e;
// }

// /* extra classes */
// .double-height {
//   height: 600px;
//   background: #7f8c8d;
// }
// .float-right {
//   float: right;
// }

// @media all and (max-width: 900px) {
//   .half,
//   .responsive-half.responsive-half {
//     /* Override .responsive-half's other classes */
//     width: 66.666%;
//   }
//   .quarter {
//     width: 33.333%;
//   }
// }

// @media all and (max-width: 600px) {
//   .portfolio-item.portfolio-item {
//     /* Override all other settings */
//     width: 50%;
//     height: 300px; /* override different height-classes */
//   }
// }

// @media all and (max-width: 400px) {
//   .portfolio-item.portfolio-item {
//     /* Override all other settings */
//     width: 100%;
//   }
// }

/* non-essential code, just for fun */
// .portfolio-items {
//   resize: horizontal;
// }
// h1,
// h2,
// h3 {
//   text-align: center;
//   font-family: "Roboto Slab", Times, serif;
// }
// .portfolio-item {
//   position: relative;
//   opacity: 0.9;
//   transition: opacity 0.2s ease-in-out;
// }
// .portfolio-item:hover {
//   opacity: 1;
// }
// .portfolio-item:before {
//   position: absolute;
//   top: 50%;
//   width: 100%;
//   transform: translateY(-50%);
//   text-align: center;

//   content: attr(class);
//   color: #fff;
//   font-size: 2em;
//   font-family: Raleway, Calibri, Arial, sans-serif;
// }
