//? screen References
$screen-lg: 1000;
$screen-md: 950;
$screen-sm: 470;

* {
  padding: 0;
  font-family: Space Grotesk;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  color: white;
}

*[animated] {
  opacity: 0;
}

body {
  // background-image: url(/assets/img/Hero-svg.jpg);
  background-color: #111827;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  scroll-behavior: smooth;
  position: relative;
  &::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

html {
  scroll-behavior: smooth;
}

#particles-js {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
