/*Google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:ital,wght@0,400;0,500;0,600;1,700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}
:root {
  --main-color: #906861;
  --body-color: #000000; /* black */
  --container-color: #1c1c1c; /* dark gray */
  --heading-color: #f5f5f5;
  --box-color: #0d0d0d;
  --bg-color: white;
}

body {
  color: var(--bg-color);
  background: var(--body-color);
  &.no-scroll{
    overflow-y: hidden;
  }
}
