a {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}

h1 {
  font-size: 64px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: -1.28px;
  color: var(--gray-200, #e5e7eb);
  @include md {
    font-size: 48px;
    @include sm {
      font-size: 28px;
      line-height: 36px;
      letter-spacing: -0.56px;
    }
  }
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.8px;
  color: var(--gray-200, #e5e7eb);
  @include sm {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.48px;
  }
}

h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
}

h4 {
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
}

h5 {
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
}

h6 {
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
}

p {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: var(--gray-300, #d1d5db);
  @include sm {
    font-size: 16px;
    line-height: 24px;
  }
}

span {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}
