@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  font-family: "Rubik", sans-serif;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  color: white;
}

*[animated] {
  opacity: 0;
}

body {
  background-color: #111827;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  scroll-behavior: smooth;
  position: relative;
}
body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  scroll-behavior: smooth;
}

#particles-js {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

a {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}

h1 {
  font-size: 58px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: -1.28px;
  color: var(--gray-200, #e5e7eb);
  font-family: "Poppins", sans-serif;
}
@media (max-width: 950px) {
  h1 {
    font-size: 40px;
  }
}
@media (max-width: 950px) and (max-width: 470px) {
  h1 {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.56px;
  }
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.8px;
  color: var(--gray-200, #e5e7eb);
  font-family: "Poppins", sans-serif;
}
@media (max-width: 470px) {
  h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.48px;
  }
}

h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  font-family: "Poppins", sans-serif;
}

h4 {
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  font-family: "Poppins", sans-serif;
}

h5 {
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  font-family: "Poppins", sans-serif;
}

h6 {
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: var(--gray-300, #d1d5db);
}
@media (max-width: 470px) {
  p {
    font-size: 16px;
    line-height: 24px;
  }
}

span {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

a.btnPrimary {
  padding: 16px 32px;
  border-radius: 12px;
  background-color: #6c4bef;
  position: relative;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
}
a.btnPrimary:hover {
  background-color: #9b7bff;
  transition: all 0.3s ease-in-out;
}
a.btnPrimary .withArrowRight::after {
  content: "";
  background-image: url(/assets/img/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 24px;
  align-items: center;
  height: 18px;
  margin-left: 8px;
  transition: all 0.3s ease-in-out;
}
a.btnPrimary .withArrowRight:hover::after {
  margin-left: 16px;
  transition: all 0.3s ease-in-out;
}
a.btnLink {
  text-decoration: none;
}
a.btnLink:hover {
  opacity: 0.8;
}
a.btnLink.withArrowRight {
  display: flex;
  flex-direction: row;
  position: relative;
}
a.btnLink.withArrowRight span {
  position: absolute;
  display: flex;
  align-items: center;
  right: -15px;
  bottom: 4px;
}

.skeleton {
  position: relative;
  margin-bottom: 8px;
}
.skeleton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: linear-gradient(90deg, #ffffff, gray, #ffffff);
  background-size: 200%;
  border-radius: 8px;
  animation: skeleton 1s infinite reverse;
}

@keyframes skeleton {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
body .loading-page {
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #0f1624, #0f1624, #0f1624);
  height: 100vh;
  width: 100vw;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  color: #6c4bef;
  overflow-y: hidden;
}
body .loading-page svg {
  height: 150px;
  width: 150px;
  stroke: white;
  fill-opacity: 0;
  stroke-width: 3px;
  stroke-dasharray: 4500;
  animation: draw 8s ease;
}
body .loading-page .name-container {
  height: 30px;
  overflow: hidden;
}
body .loading-page .name-container .logo-name {
  color: #fff;
  font-size: 20px;
  letter-spacing: 12px;
  text-transform: uppercase;
  margin-left: 20px;
  font-weight: bolder;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
section {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .container {
  width: 100%;
  max-width: 1440px;
  padding: 50px 64px;
}
@media (max-width: 950px) {
  section .container {
    padding: 45px 30px;
  }
}
@media (max-width: 950px) and (max-width: 470px) {
  section .container {
    padding: 25px 24px;
  }
}
section .container .wrapper {
  width: 100%;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111827;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.12);
}
header.scrolled {
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.12);
}
header .container {
  width: 100%;
  max-width: 1440px;
  padding: 16px 64px;
}
@media (max-width: 470px) {
  header .container {
    padding: 16px 24px;
  }
}
header .container .wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}
header .container .wrapper .logo {
  width: 150px;
  height: 40px;
}
header .container .wrapper .logo a img {
  width: 100%;
  height: 100%;
}
header .container .wrapper .links {
  display: flex;
  flex-direction: row;
  gap: 48px;
}
@media (max-width: 950px) {
  header .container .wrapper .links {
    flex-direction: column;
    position: absolute;
    background-color: #111827;
    width: 40%;
    height: 100vh;
    z-index: 5;
    right: -400px;
    top: 72px;
    align-items: center;
    transition: 0.3s all ease-in-out;
  }
}
header .container .wrapper .links.active {
  transition: 0.3s all ease-in-out;
  right: 0;
}
header .container .wrapper .links a {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  transition: all 0.2s linear;
}
header .container .wrapper .links a:hover {
  color: #eab308;
  transition: all 0.2s linear;
}
header .container .wrapper .links .btn {
  display: none;
}
@media (max-width: 470px) {
  header .container .wrapper .links .btn {
    display: block;
  }
}
header .container .wrapper .links .btn > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
header .container .wrapper .links .btn > a:hover .icon {
  transition: all 0.3s linear;
  background-color: #ffffff;
}
header .container .wrapper .links .btn > a .icon {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  border: 1px solid #d1d5db;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container .wrapper .links .btn > a .icon img {
  width: 18px;
  height: 16px;
  object-fit: contain;
}
@media (max-width: 470px) {
  header .container .wrapper .btn {
    display: none;
  }
}
header .container .wrapper .btn > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
header .container .wrapper .btn > a:hover .icon {
  transition: all 0.3s linear;
  background-color: #ffffff;
}
header .container .wrapper .btn > a .icon {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: 1px solid #d1d5db;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container .wrapper .btn > a .icon img {
  width: 20px;
  height: 18px;
  object-fit: contain;
}
header .container .wrapper .mobileMenu {
  display: none;
}
@media (max-width: 950px) {
  header .container .wrapper .mobileMenu {
    display: block;
  }
}
header .container .wrapper .mobileMenu a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  transition: 0.3s ease-out;
}
header .container .wrapper .mobileMenu a:hover > span {
  opacity: 0.8;
  transition: 0.3s ease-in;
}
header .container .wrapper .mobileMenu a .menuIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4.5px;
  cursor: pointer;
  z-index: 200;
  transition: 0.3s all ease-in-out;
}
header .container .wrapper .mobileMenu a .menuIcon div {
  background-color: #ffffff;
  height: 2px;
  width: 24px;
  transition: 0.3s all ease-in-out;
}
header .container .wrapper .mobileMenu a .menuIcon div:nth-child(1) {
  width: 15px;
}
header .container .wrapper .mobileMenu a .menuIcon div:nth-child(3) {
  width: 15px;
}
header .container .wrapper .mobileMenu a .menuIcon.move {
  row-gap: 5px;
}
header .container .wrapper .mobileMenu a .menuIcon.move div:nth-child(1) {
  width: 24px;
}
header .container .wrapper .mobileMenu a .menuIcon.move div:nth-child(3) {
  width: 24px;
}
header .container .wrapper .mobileMenu a .menuIcon.move .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}
header .container .wrapper .mobileMenu a .menuIcon.move .line2 {
  opacity: 0;
}
header .container .wrapper .mobileMenu a .menuIcon.move .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
footer .container {
  width: 100%;
  max-width: 1440px;
  padding: 25px 64px;
}
@media (max-width: 470px) {
  footer .container {
    padding: 25px 24px;
  }
}
footer .container .wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 470px) {
  footer .container .wrapper {
    flex-direction: column;
    gap: 8px;
  }
}
footer .container .wrapper .legal {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.32px;
}
footer .container .wrapper .footerLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
footer .container .wrapper .footerLinks a .bx {
  color: #111827;
  font-size: 18px;
  padding: 8px;
  border-radius: 50%;
  background: #e5e7eb;
  transition: 0.3s all ease-in-out;
}
footer .container .wrapper .footerLinks a .bx:hover {
  background: #6c4bef;
  color: #ffffff;
  transition: 0.3s all ease-in-out;
}

section.hero {
  height: 88dvh;
}
@media (max-width: 470px) {
  section.hero {
    height: 80dvh;
  }
}
section.hero .container {
  padding-top: 150px;
}
@media (max-width: 470px) {
  section.hero .container {
    padding-top: 100px;
  }
}
section.hero .container .wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.hero .container .wrapper .bannerContent {
  width: 100%;
  max-width: 680px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}
@media (max-width: 470px) {
  section.hero .container .wrapper .bannerContent {
    gap: 20px;
  }
}
section.hero .container .wrapper .bannerContent .heading {
  color: #e5e7eb;
}
section.hero .container .wrapper .bannerContent .heading h1 {
  font-size: 80px;
}
@media (max-width: 470px) {
  section.hero .container .wrapper .bannerContent .heading h1 {
    font-size: 40px;
  }
}
section.hero .container .wrapper .bannerContent .tools {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
section.hero .container .wrapper .bannerContent .tools .bx {
  color: #e5e7eb;
  border: solid 1px #e5e7eb;
  font-size: 28px;
  padding: 8px;
  border-radius: 50%;
  background: transparent;
}
section.hero .container .wrapper .bannerContent .tools .bx:hover {
  color: var(--color);
  background: #0f1624;
  border: solid 1px var(--color);
  transition: 0.3s all ease-in-out;
}

section .container .wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 60px;
}
section .container .wrapper .workHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 950px) {
  section .container .wrapper .workHeading {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
  }
}
section .container .wrapper .workHeading .content {
  width: 100%;
  max-width: 525px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
section .container .wrapper .workHeading .featured {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}
@media (max-width: 470px) {
  section .container .wrapper .workHeading .featured {
    gap: 30px;
  }
}
section .container .wrapper .workHeading .featured a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
section .container .wrapper .workHeading .featured a.active span {
  color: #eab308;
}
section .container .wrapper .portfolioContainer .portfolioItem {
  display: block;
  height: 300px;
  border: 1px solid #e5e7eb;
  list-style: none;
  cursor: pointer;
  float: left;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s background ease-in-out;
}
@media (max-width: 950px) {
  section .container .wrapper .portfolioContainer .portfolioItem {
    width: 50% !important;
    height: 300px !important;
    text-align: center;
  }
}
@media (max-width: 950px) and (max-width: 470px) {
  section .container .wrapper .portfolioContainer .portfolioItem {
    width: 100% !important;
  }
}
section .container .wrapper .portfolioContainer .portfolioItem:hover {
  background: var(--bg);
  transition: 0.8s background ease-in-out;
}
section .container .wrapper .portfolioContainer .portfolioItem.full {
  width: 100%;
}
section .container .wrapper .portfolioContainer .portfolioItem.two-third {
  width: 66.666%;
}
section .container .wrapper .portfolioContainer .portfolioItem.half {
  width: 50%;
}
section .container .wrapper .portfolioContainer .portfolioItem.third {
  width: 33.333%;
}
section .container .wrapper .portfolioContainer .portfolioItem.quarter {
  width: 25%;
}
section .container .wrapper .portfolioContainer .portfolioItem.double-height {
  height: 600px;
}
section .container .wrapper .portfolioContainer .portfolioItem.float-right {
  float: right;
}
section .container .wrapper .portfolioContainer .portfolioItem > .content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
section .container .wrapper .portfolioContainer .portfolioItem > .content.reverse {
  transform: rotate(-90deg);
}
@media (max-width: 950px) {
  section .container .wrapper .portfolioContainer .portfolioItem > .content.reverse {
    transform: unset;
  }
}
section .container .wrapper .portfolioContainer .portfolioItem > .content span {
  color: #eab308;
  font-weight: 700;
  font-size: 15px;
}
section .container .wrapper .portfolioContainer .portfolioItem > .content p {
  font-size: 15px;
}
section .container .wrapper .btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* non-essential code, just for fun */
section.contactForm .container {
  padding-top: 100px;
}
section.contactForm .container .wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
section.contactForm .container .wrapper .heading {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 50%;
}
@media (max-width: 950px) {
  section.contactForm .container .wrapper .heading {
    max-width: 100%;
  }
}
@media (max-width: 950px) and (max-width: 470px) {
  section.contactForm .container .wrapper .heading {
    max-width: 100%;
    text-align: center;
  }
}
section.contactForm .container .wrapper .heading h1 {
  color: #6c4bef;
}
section.contactForm .container .wrapper .info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (max-width: 470px) {
  section.contactForm .container .wrapper .info {
    justify-content: center;
    align-items: center;
  }
}
section.contactForm .container .wrapper .info .bx {
  font-size: 18px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}
section.contactForm .container .wrapper form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (max-width: 470px) {
  section.contactForm .container .wrapper form {
    justify-content: center;
    align-items: center;
  }
}
section.contactForm .container .wrapper form input,
section.contactForm .container .wrapper form textarea {
  border: none;
  outline: none;
  padding: 15px;
  color: #e5e7eb;
  background: #0f1624;
  border-radius: 0.4rem;
  font-size: 15px;
}
@media (max-width: 470px) {
  section.contactForm .container .wrapper form input,
  section.contactForm .container .wrapper form textarea {
    width: 100%;
  }
}
section.contactForm .container .wrapper form .sendBtn {
  width: 100%;
  max-width: 250px;
  border-radius: 14px;
  cursor: pointer;
}
section.contactForm .container .wrapper form .sendBtn:hover {
  background-color: #e5e7eb;
  color: #0f1624;
  transition: 0.3s all linear;
}

section.resources {
  padding-top: 80px;
}
section.resources .container .wrapper {
  display: flex;
  flex-direction: column;
}
section.resources .container .wrapper .headings {
  text-align: left;
  width: 100%;
  max-width: 680px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media (max-width: 950px) {
  section.resources .container .wrapper .headings {
    text-align: center;
    max-width: 100%;
  }
}
section.resources .container .wrapper .headings h3 span {
  color: #eab308;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
section.resources .container .wrapper .gridContent {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(320px, 3fr));
  justify-items: center;
  gap: 8px;
  position: relative;
}
@media (max-width: 470px) {
  section.resources .container .wrapper .gridContent {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
  }
}
section.resources .container .wrapper .gridContent .card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  height: 400px;
  gap: 14px;
  background-color: #0f1624;
  padding: 16px;
  cursor: pointer;
  overflow: hidden;
}
@media (max-width: 950px) {
  section.resources .container .wrapper .gridContent .card {
    max-width: 100%;
  }
}
section.resources .container .wrapper .gridContent .card .imgWrapper {
  width: 100%;
  height: 225px;
}
section.resources .container .wrapper .gridContent .card .imgWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.resources .container .wrapper .gridContent .card .content {
  width: 100%;
  max-width: 280px;
}
section.resources .container .wrapper .gridContent .card .tags {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
section.resources .container .wrapper .gridContent .card .tags > span {
  padding: 8px;
  border-radius: 32px;
  display: inline-flex;
  width: fit-content;
  background-color: #6c4bef;
  font-weight: 600;
  font-size: 13px;
}
section.resources .container .wrapper .gridContent .card span {
  opacity: 0.8;
  font-size: 12px;
}

section.about {
  height: 80vh;
}
section.about .container .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 950px) {
  section.about .container .wrapper {
    flex-direction: column;
  }
}
section.about .container .wrapper .heading {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 480px;
}
section.about .container .wrapper .heading h5 {
  color: #6c4bef;
}
section.about .container .wrapper .heading h1 {
  font-weight: 700;
}
section.about .container .wrapper .content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  width: 100%;
}
section.about .container .wrapper .content .text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
section.about .container .wrapper .content .text p {
  opacity: 0.8;
}
section.about .container .wrapper .content .numbers {
  display: flex;
  flex-direction: row;
  gap: 32px;
  width: 100%;
}
section.about .container .wrapper .content .numbers .col {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 32px;
  font-weight: 700;
}
section.about .container .wrapper .content .numbers .col span {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: #6c4bef;
}

section.blog {
  padding-top: 80px;
}
section.blog .container .wrapper {
  display: flex;
  flex-direction: column;
}
section.blog .container .wrapper .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
}
section.blog .container .wrapper .imgWrapper {
  width: 100%;
  height: 600px;
}
section.blog .container .wrapper .imgWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.blog .container .wrapper .content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
section.blog .container .wrapper .content ul,
section.blog .container .wrapper .content ol {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
section.blog .container .wrapper .content h4 {
  text-transform: uppercase;
}

section.projectContent.heading {
  height: 80dvh;
}
section.projectContent .container {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}
section.projectContent .container .wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}
section.projectContent .container .wrapper .backButtonWrapper {
  position: absolute;
  left: 10%;
  top: 0;
  z-index: 2;
}
section.projectContent .container .wrapper .backButtonWrapper a {
  cursor: pointer;
  height: max-content;
}
section.projectContent .container .wrapper .backButtonWrapper a:hover {
  opacity: 0.5;
}
section.projectContent .container .wrapper .backButtonWrapper a i {
  font-size: 24px;
}
section.projectContent .container .wrapper .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  z-index: 1;
}
section.projectContent .container .wrapper .content p {
  text-align: center;
  margin-bottom: 16px;
}
section.projectContent .container .wrapper .logoWrapper {
  width: 100%;
  position: absolute;
  z-index: 0;
  opacity: 0.039;
  height: 100%;
  top: 0;
}
section.projectContent .container .wrapper .logoWrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
section.projectContent .container .wrapper .imgWrapper {
  width: 100%;
  border: 2px solid var(--border);
  border-radius: 16px;
  height: 400px;
  max-width: 800px;
  overflow: hidden;
}
section.projectContent .container .wrapper .imgWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.projectContent .container .wrapper > p {
  color: #0f1624;
  text-align: center;
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
