* {
  padding: 0;
  font-family: Space Grotesk;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  color: white;
}

*[animated] {
  opacity: 0;
}

body {
  background-color: #111827;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  scroll-behavior: smooth;
  position: relative;
}
body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  scroll-behavior: smooth;
}

#particles-js {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

a {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}

h1 {
  font-size: 64px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: -1.28px;
  color: var(--gray-200, #e5e7eb);
}
@media (max-width: 950px) {
  h1 {
    font-size: 48px;
  }
}
@media (max-width: 950px) and (max-width: 470px) {
  h1 {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.56px;
  }
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.8px;
  color: var(--gray-200, #e5e7eb);
}
@media (max-width: 470px) {
  h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.48px;
  }
}

h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
}

h4 {
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
}

h5 {
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
}

h6 {
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
}

p {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: var(--gray-300, #d1d5db);
}
@media (max-width: 470px) {
  p {
    font-size: 16px;
    line-height: 24px;
  }
}

span {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

a.btnPrimary {
  padding: 16px 32px;
  border-radius: 12px;
  background-color: #6c4bef;
  position: relative;
  display: inline-flex;
  align-items: center;
}
a.btnPrimary::after {
  content: "";
  background-image: url(/assets/img/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 24px;
  align-items: center;
  height: 18px;
  margin-left: 8px;
  transition: all 0.3s ease-in-out;
}
a.btnPrimary:hover::after {
  margin-left: 16px;
  transition: all 0.3s ease-in-out;
}

.skeleton {
  position: relative;
  margin-bottom: 8px;
}
.skeleton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: linear-gradient(90deg, #ffffff, gray, #ffffff);
  background-size: 200%;
  border-radius: 8px;
  animation: skeleton 1s infinite reverse;
}

@keyframes skeleton {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
body .loading-page {
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #0f1624, #6c4bef, #0f1624);
  height: 100vh;
  width: 100vw;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  color: #191654;
  overflow-y: hidden;
}
body .loading-page svg {
  height: 150px;
  width: 150px;
  stroke: white;
  fill-opacity: 0;
  stroke-width: 3px;
  stroke-dasharray: 4500;
  animation: draw 8s ease;
}
body .loading-page .name-container {
  height: 30px;
  overflow: hidden;
}
body .loading-page .name-container .logo-name {
  color: #fff;
  font-size: 20px;
  letter-spacing: 12px;
  text-transform: uppercase;
  margin-left: 20px;
  font-weight: bolder;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
section {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .container {
  width: 100%;
  max-width: 1440px;
  padding: 50px 64px;
}
@media (max-width: 470px) {
  section .container {
    padding: 25px 24px;
  }
}
section .container .wrapper {
  width: 100%;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111827;
}
header.scrolled {
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.12);
}
header .container {
  width: 100%;
  max-width: 1440px;
  padding: 16px 64px;
}
@media (max-width: 470px) {
  header .container {
    padding: 16px 24px;
  }
}
header .container .wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}
header .container .wrapper .logo {
  width: 150px;
  height: 40px;
}
header .container .wrapper .logo a img {
  width: 100%;
  height: 100%;
}
header .container .wrapper .links {
  display: flex;
  flex-direction: row;
  gap: 48px;
}
@media (max-width: 950px) {
  header .container .wrapper .links {
    flex-direction: column;
    position: absolute;
    background-color: #111827;
    width: 40%;
    height: 100vh;
    z-index: 5;
    right: -400px;
    top: 72px;
    align-items: center;
    transition: 0.3s all ease-in-out;
  }
}
header .container .wrapper .links.active {
  transition: 0.3s all ease-in-out;
  right: 0;
}
header .container .wrapper .links a {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  transition: all 0.2s linear;
}
header .container .wrapper .links a:hover {
  opacity: 0.5;
  transition: all 0.2s linear;
}
header .container .wrapper .links a:not(:nth-child(5))::after {
  content: "";
  background-image: url(/assets/img/Line.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 6px;
  height: 22px;
  position: absolute;
  right: -25px;
}
@media (max-width: 950px) {
  header .container .wrapper .links a:not(:nth-child(5))::after {
    display: none;
  }
}
header .container .wrapper .links .btn {
  display: none;
}
@media (max-width: 470px) {
  header .container .wrapper .links .btn {
    display: block;
  }
}
header .container .wrapper .links .btn > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
header .container .wrapper .links .btn > a:hover .icon {
  transition: all 0.3s linear;
  background-color: #ffffff;
}
header .container .wrapper .links .btn > a .icon {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  border: 1px solid #d1d5db;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container .wrapper .links .btn > a .icon img {
  width: 18px;
  height: 16px;
  object-fit: contain;
}
@media (max-width: 470px) {
  header .container .wrapper .btn {
    display: none;
  }
}
header .container .wrapper .btn > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
header .container .wrapper .btn > a:hover .icon {
  transition: all 0.3s linear;
  background-color: #ffffff;
}
header .container .wrapper .btn > a .icon {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: 1px solid #d1d5db;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container .wrapper .btn > a .icon img {
  width: 20px;
  height: 18px;
  object-fit: contain;
}
header .container .wrapper .mobileMenu {
  display: none;
}
@media (max-width: 950px) {
  header .container .wrapper .mobileMenu {
    display: block;
  }
}
header .container .wrapper .mobileMenu a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  transition: 0.3s ease-out;
}
header .container .wrapper .mobileMenu a:hover > span {
  opacity: 0.8;
  transition: 0.3s ease-in;
}
header .container .wrapper .mobileMenu a .menuIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4.5px;
  cursor: pointer;
  z-index: 200;
  transition: 0.3s all ease-in-out;
}
header .container .wrapper .mobileMenu a .menuIcon div {
  background-color: #ffffff;
  height: 2px;
  width: 24px;
  transition: 0.3s all ease-in-out;
}
header .container .wrapper .mobileMenu a .menuIcon div:nth-child(1) {
  width: 15px;
}
header .container .wrapper .mobileMenu a .menuIcon div:nth-child(3) {
  width: 15px;
}
header .container .wrapper .mobileMenu a .menuIcon.move {
  row-gap: 5px;
}
header .container .wrapper .mobileMenu a .menuIcon.move div:nth-child(1) {
  width: 24px;
}
header .container .wrapper .mobileMenu a .menuIcon.move div:nth-child(3) {
  width: 24px;
}
header .container .wrapper .mobileMenu a .menuIcon.move .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}
header .container .wrapper .mobileMenu a .menuIcon.move .line2 {
  opacity: 0;
}
header .container .wrapper .mobileMenu a .menuIcon.move .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
footer .container {
  width: 100%;
  max-width: 1440px;
  padding: 25px 64px;
}
@media (max-width: 470px) {
  footer .container {
    padding: 25px 24px;
  }
}
footer .container .wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 470px) {
  footer .container .wrapper {
    flex-direction: column;
    gap: 8px;
  }
}
footer .container .wrapper .legal {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.32px;
}
footer .container .wrapper .footerLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
footer .container .wrapper .footerLinks a .bx {
  color: #111827;
  font-size: 18px;
  padding: 8px;
  border-radius: 50%;
  background: #e5e7eb;
  transition: 0.3s all ease-in-out;
}
footer .container .wrapper .footerLinks a .bx:hover {
  background: #6c4bef;
  color: #ffffff;
  transition: 0.3s all ease-in-out;
}

section.hero .container {
  padding-top: 150px;
}
@media (max-width: 470px) {
  section.hero .container {
    padding-top: 100px;
  }
}
section.hero .container .wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.hero .container .wrapper .bannerContent {
  width: 100%;
  max-width: 682px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}
@media (max-width: 470px) {
  section.hero .container .wrapper .bannerContent {
    gap: 20px;
  }
}
section.hero .container .wrapper .bannerContent .heading {
  color: #e5e7eb;
}
@media (max-width: 470px) {
  section.hero .container .wrapper .bannerContent .heading h1 {
    font-size: 30px;
  }
}
section.hero .container .wrapper .bannerContent .tools {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
section.hero .container .wrapper .bannerContent .tools .bx {
  color: #e5e7eb;
  border: solid 1px #e5e7eb;
  font-size: 28px;
  padding: 8px;
  border-radius: 50%;
  background: transparent;
}

section .container .wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
section .container .wrapper .workHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 950px) {
  section .container .wrapper .workHeading {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
  }
}
section .container .wrapper .workHeading .content {
  width: 100%;
  max-width: 525px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
section .container .wrapper .workHeading .featured {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}
@media (max-width: 470px) {
  section .container .wrapper .workHeading .featured {
    gap: 30px;
  }
}
section .container .wrapper .workHeading .featured a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
section .container .wrapper .workHeading .featured a.active span {
  color: #eab308;
}
section .container .wrapper .gridWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 3fr));
  justify-items: center;
  gap: 32px;
  position: relative;
}
@media (max-width: 470px) {
  section .container .wrapper .gridWrapper {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
section .container .wrapper .gridWrapper .card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
  gap: 18px;
}
section .container .wrapper .gridWrapper .card .imgContainer {
  width: 100%;
  height: 420px;
  border-radius: 12px;
}
section .container .wrapper .gridWrapper .card .imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section .container .wrapper .gridWrapper .card .description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 470px) {
  section .container .wrapper .gridWrapper .card .description {
    gap: 50px;
  }
}
section .container .wrapper .gridWrapper .card .description .text {
  width: 100%;
  max-width: 300px;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
@media (max-width: 470px) {
  section .container .wrapper .gridWrapper .card .description .text {
    font-size: 16px;
    max-width: 280px;
    font-weight: 500;
    line-height: 24px;
  }
}
section .container .wrapper .gridWrapper .card .description .text .content {
  opacity: 0.7;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
section .container .wrapper .gridWrapper .card .description .text .preHeader {
  font-size: 15px;
  font-weight: 700;
  color: #eab308;
}
section .container .wrapper .gridWrapper .card .description .text .heading {
  font-size: 25px;
  font-weight: 700;
}
section .container .wrapper .gridWrapper .card .description .icon {
  width: 100%;
  max-width: 48px;
  height: 48px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(15px);
}
section .container .wrapper .btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.contactForm .container {
  padding-top: 100px;
}
section.contactForm .container .wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
section.contactForm .container .wrapper .heading {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 50%;
}
@media (max-width: 950px) {
  section.contactForm .container .wrapper .heading {
    max-width: 100%;
  }
}
@media (max-width: 950px) and (max-width: 470px) {
  section.contactForm .container .wrapper .heading {
    max-width: 100%;
    text-align: center;
  }
}
section.contactForm .container .wrapper .heading h1 {
  color: #6c4bef;
}
section.contactForm .container .wrapper .info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (max-width: 470px) {
  section.contactForm .container .wrapper .info {
    justify-content: center;
    align-items: center;
  }
}
section.contactForm .container .wrapper .info .bx {
  font-size: 18px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}
section.contactForm .container .wrapper form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (max-width: 470px) {
  section.contactForm .container .wrapper form {
    justify-content: center;
    align-items: center;
  }
}
section.contactForm .container .wrapper form input,
section.contactForm .container .wrapper form textarea {
  border: none;
  outline: none;
  padding: 15px;
  color: #e5e7eb;
  background: #0f1624;
  border-radius: 0.4rem;
  font-size: 15px;
}
@media (max-width: 470px) {
  section.contactForm .container .wrapper form input,
  section.contactForm .container .wrapper form textarea {
    width: 100%;
  }
}
section.contactForm .container .wrapper form .sendBtn {
  width: 100%;
  max-width: 250px;
  border-radius: 14px;
  cursor: pointer;
}
section.contactForm .container .wrapper form .sendBtn:hover {
  background-color: #e5e7eb;
  color: #0f1624;
  transition: 0.3s all linear;
}

/*# sourceMappingURL=style.css.map */
